*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 100%; }

main {
  box-sizing: border-box;
  padding: 3rem; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7; }

h1 {
  margin-bottom: 1rem; }

table.table--blue {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse; }

table.table--blue td,
table.table--blue th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px; }

table.table--blue tbody td {
  font-size: 13px; }

table.table--blue tbody tr:hover {
  background-color: rgba(145, 174, 198, 0.3);
  cursor: pointer; }

table.table--blue tr:nth-child(even) {
  background: #D0E4F5; }

table.table--blue thead {
  background: #91AEC6; }

table.table--blue thead th {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  border-left: 2px solid #D0E4F5; }

table.table--blue thead th:first-child {
  border-left: none; }

table.table--blue tfoot {
  font-size: 14px;
  font-weight: normal;
  color: #ffffff; }

table.table--blue tfoot td {
  font-size: 14px; }

table.table--blue tfoot .links {
  text-align: right; }

table.table--blue tfoot .links a {
  display: inline-block;
  background: #B3B3B3;
  color: #ffffff;
  padding: 4px 16px;
  border-radius: 2px; }

table.table--blue tfoot a.table__show-rows {
  display: inline;
  color: #1C6EA4;
  background: transparent;
  text-decoration: underline;
  cursor: pointer; }
  table.table--blue tfoot a.table__show-rows:hover {
    color: blue; }

.table__show-rows-wrapper {
  margin: 0 auto 1rem auto;
  text-align: center; }
  .table__show-rows-wrapper a.table__show-rows {
    margin-right: 1rem; }

.table__filter-input {
  width: 90%; }

.table__edit-button {
  border: none;
  cursor: pointer;
  padding: 5px;
  background-color: transparent; }
  .table__edit-button .table__edit-icon {
    margin-right: 4px; }
  .table__edit-button:hover {
    border-radius: 3px;
    background-color: #91AEC6;
    color: #ffffff; }
    .table__edit-button:hover i {
      color: #ffffff; }

.table__edit-cell {
  width: 60px; }

htm,
body {
  font-family: sans-serif; }

a {
  text-decoration: none; }

.pagination-wrapper {
  text-align: center;
  margin-top: 25px;
  margin-bottom: -4px; }

.pagination {
  display: inline-block;
  height: 50px;
  margin-top: 0;
  margin-bottom: 14px;
  padding: 0 25px;
  border-radius: 35px;
  background-color: #DDDDDD; }
  @media only screen and (max-width: 1199px) {
    .pagination {
      height: 50px;
      margin-top: 10px;
      margin-bottom: 20px;
      padding: 0 10px;
      border-radius: 25px; } }

.page-numbers {
  display: block;
  padding: 7px 22px;
  float: left;
  transition: 400ms ease;
  color: #595959;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 36px; }
  .page-numbers:hover, .page-numbers.current {
    background-color: #91AEC6;
    color: #ffffff; }
  .page-numbers.prev:hover, .page-numbers.next:hover {
    background-color: transparent;
    color: #91AEC6; }
  @media only screen and (max-width: 1199px) {
    .page-numbers {
      padding: 0 15px;
      font-size: 16px;
      line-height: 50px; } }
  @media only screen and (min-width: 120px) and (max-width: 1024px) {
    .page-numbers {
      padding: 0 14px;
      display: none; }
      .page-numbers:nth-of-type(2) {
        position: relative;
        padding-right: 50px; }
        .page-numbers:nth-of-type(2)::after {
          content: '...';
          position: absolute;
          font-size: 25px;
          top: 0;
          left: 45px; }
      .page-numbers:nth-child(-n+3), .page-numbers:nth-last-child(-n+3) {
        display: block; }
      .page-numbers:nth-last-child(-n+4) {
        padding-right: 14px; }
        .page-numbers:nth-last-child(-n+4)::after {
          content: none; } }

#backdrop {
  background-color: black;
  position: absolute;
  width: 100vw;
  height: 100vh;
  min-height: 1000px;
  opacity: .7;
  display: none; }

#modal {
  position: absolute;
  background-color: white;
  left: 10%;
  top: 25%;
  width: 80%;
  height: 50%;
  display: none; }

.modal__button-bar {
  position: absolute;
  bottom: 23px;
  right: 28px; }

.modal__btn {
  padding: 8px 16px 8px 8px;
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid #AAAAAA; }

.modal__save-btn {
  background-color: #1C6EA4;
  color: #ffffff;
  border: #1C6EA4;
  margin-right: 10px; }
  .modal__save-btn:hover {
    background-color: #91AEC6;
    cursor: pointer; }

.modal__cancel-btn {
  color: #888888; }
  .modal__cancel-btn:hover {
    background-color: #ffffff;
    cursor: pointer; }

.modal__btn-icon {
  margin-right: .4rem; }

.modal__btn-icon-cancel {
  opacity: .75; }
