$blue-dark: #1C6EA4;
$blue-light: #91AEC6;
$blue-aquamarin:blue;

$white: #ffffff;
$gray-light: #B3B3B3;
$gray-light-2: #EEEEEE;
$gray-light-3: #DDDDDD;
$gray-dark: #AAAAAA;
$gray-dark-2: #888888;

$gray-blue-1: #D0E4F5;
$gray-blue-2: #91AEC6;