#backdrop {
    background-color: black;
    position: absolute;
    width: 100vw;
    height: 100vh;
    min-height: 1000px;
    opacity: .7;
    display: none;
}


#modal {
    position: absolute;
    background-color: white;
    left:10%;
    top:25%;
    width: 80%;
    height:50%;
    display: none;
}

.modal__button-bar {
    position: absolute;
    bottom: 23px;
    right: 28px;
}

.modal__btn {
    padding: 8px 16px 8px 8px;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid $gray-dark;
}


.modal__save-btn {
    background-color: $blue-dark;
    color: $white;
    border: $blue-dark;
    margin-right: 10px;

    &:hover {
        background-color: $blue-light;
        cursor: pointer;
    }
}

.modal__cancel-btn {
    color: $gray-dark-2;
    &:hover {
        background-color: $white;
        cursor: pointer;
    }

}

.modal__btn-icon {
    margin-right: .4rem;
}

.modal__btn-icon-cancel {
    opacity: .75;
}