table.table--blue {
    border: 1px solid $blue-dark;
    background-color: $gray-light-2;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.table--blue td,
table.table--blue th {
    border: 1px solid $gray-dark;
    padding: 0.1875rem 0.25rem;
}

table.table--blue tbody td {
    font-size: 0.8rem;
}

table.table--blue tbody tr:hover {
    background-color: rgba($blue-light, .3);
    cursor: pointer;
}

table.table--blue tr:nth-child(even) {
    background: $gray-blue-1;
}

table.table--blue thead {
    background: $gray-blue-2;
}

table.table--blue thead th {
    font-size: .85rem;
    font-weight: bold;
    color: $white;
    border-left: 2px solid $gray-blue-1;
    padding-bottom: 0.65rem;
}

table.table--blue thead th:first-child {
    border-left: none;
}

table.table--blue tfoot {
    font-size: 0.875rem;
    font-weight: normal;
    color: $white;
}

table.table--blue tfoot td {
    font-size: 0.875rem;
}

table.table--blue tfoot .links {
    text-align: right;
}

table.table--blue tfoot .links a {
    display: inline-block;
    background: $gray-light;
    color: $white;
    padding: 0.25rem 1rem;
    border-radius: 2px;
}

table.table--blue tfoot a.table__show-rows {
    display: inline;
    color: $blue-dark;
    background: transparent;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: $blue-aquamarin;
    }
}

.table__show-rows-wrapper {
    margin: 0 auto 1rem auto;
    text-align: center;

    a.table__show-rows {
        margin-right: 1rem;
    }

}

.table__filter-input {
    width: 100%;
    height: 1.25rem;
}

.table__edit-button {
    border: none;
    cursor: pointer;
    padding: 0.3125rem;
    background-color: transparent;

    .table__edit-icon {
        margin-right: 0.25rem;
    }

    &:hover {
        border-radius: 3px;
        background-color: $blue-light;
        color: $white;

        & i {
            color: $white;
        }
    }

}

.table__edit-cell {
    width: 3.75rem;
}

.table__select {
    color:$blue-dark;
    width: 100%;
    min-width: 50px;
}


.table__filter-input-text {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    white-space: nowrap;
}